<app-navlateral></app-navlateral>

<!-- Page content -->
<section class="ContentPage full-width">
    <app-navinfo></app-navinfo>
    <app-notification></app-notification>

    <!--Input fields-->
    <div class="container">
        <div class="row">
            <h2 class="center-align">Input fields</h2>
            <form class="col s12">
            <div class="row">
             <div class="input-field col s6">
                 <input placeholder="Placeholder" id="first_name" type="text" class="validate">
                <label for="first_name">First Name</label>
             </div>
              <div class="input-field col s6">
                 <input id="last_name" type="text" class="validate">
                 <label for="last_name">Last Name</label>
              </div>
          </div>
          <div class="row">
              <div class="input-field col s12">
                <input disabled value="I am not editable" id="disabled" type="text" class="validate">
                  <label for="disabled">Disabled</label>
              </div>
          </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="password" type="password" class="validate">
                <label for="password">Password</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
            </div>
        </div>
        </form>
    </div>
  </div>
  
  <!--Icon Prefixes-->
  <div class="container">
    <div class="row">
        <h2 class="center-align">Icon Prefixes</h2>
        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <i class="zmdi zmdi-account-circle prefix"></i>
                    <input id="icon_prefix" type="text" class="validate">
                    <label for="icon_prefix">First Name</label>
                </div>
                <div class="input-field col s6">
                    <i class="zmdi zmdi-phone prefix"></i>
                    <input id="icon_telephone" type="tel" class="validate">
                    <label for="icon_telephone">Telephone</label>
                </div>
            </div>
        </form>
    </div>
  </div>
    
  <!--Textarea-->
  <div class="container">
    <div class="row">
        <h2 class="center-align">Textarea</h2>
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                    <label for="textarea1">Textarea</label>
                </div>
            </div>
        </form>
    </div>
  </div>
  <app-footer></app-footer>
</section>
  